
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&family=Sofia+Sans+Condensed&family=Space+Mono&display=swap');

:root{
    --negro: #11151C;
    --azul: #4bd5e6;
   --blanco:#FFFDFA;
}

*{
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
    
}

body{
    background-color: #FFFDFA ;
    margin: 0;
    
    
}


header{
    margin:0;  
    background: #11151C;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rocket{
    width:80px;
    height: 80px;
  
}

nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    align-content: center;
    padding-right: 40px;
  
}

nav > ul > li {
    font-size: 16px;
    padding: 20px;
    color: #4bd5e6;


}

nav > ul > li a{
    text-decoration: none;
    color:var(--azul);
   
}


a:hover{
    color:#FFFDFA;
     
}

.texto_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;

}

.texto_img h1{
    font-size: 60px;

}

.txt_portadam{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}



.txt_portada p{
    text-align: justify;

}

.texto_img > img{
    width: 170px;
    
}



aside > img{
    padding-top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%

}

aside{
display: flex;
flex-direction: column;
align-items: center;

}

#newsletter > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background:#11151C;
    color: #4bd5e6 ;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12); 
    margin: 5%;
  
}


footer{
    display:flex;
    padding: 5px;
    justify-content: space-evenly;
    font-size: 12px;
    padding: 20px; 
    font-weight: 700;
    align-items: center;
    
  
}

footer > ul > li{
    display:inline-flex;
    text-align: right;  
    color: black;
}

footer > ul > li> a{
    color: black;
    text-decoration: none;

}



#apps{
    max-width: 20%;
    max-height: 20%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12); 
;}


    
/*Empieza biografia */

#fotobio > img{
width: 100%;
height: 500px;
object-fit: cover;
object-position:center;
    
}


#fotobio > article > p{
margin: 50px;
font-size: 22px;
text-align:left;


}


/* portfolio */

#portfolio {

margin: 20px;
}


#media>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}



video {
    width: 60%;
    border-radius: 5%; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);    
}

#media h4{

    padding: 20px; 
}

#media p {
    
    margin: 30px;
    width: 90%;
    padding: 20px;
    font-size: large;
    
}

#destinos{
 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    width: 70%;
}

.luna, .marte{

    background-color: #11151C;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:25rem;
    min-width:18rem;
    margin: 10px;
    border-bottom: 1pc solid;
   border-radius: 5%;
    
}

.luna, .marte p{
text-align: justify;
padding: 10px;
color: #FFFDFA;

}

.planets
{   height: 100px;
    width: 100px;
    max-height:25rem;
    min-height:18rem;
    max-width:25rem;
    min-width:18rem;
    padding: 50px;
    
}

.precio{

    display: flex;
    flex-direction: column;
    align-items: center;
}



table {

    width: 100%;
    border-collapse:collapse;
    border-spacing: 15px;
    border-radius: 15px;
    -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    width: 10%;
    border:2px solid #11151C;
    margin: 10px;
    
}


tr:hover{

color: lightcyan;
    
}

th{
    text-align: center;
    background-color: var(--azul);
    padding: 20px;
    color: #11151C;
}



td{
   background-color: #FFFDFA;
    text-align: center;
    padding: 20px;
    color: black;
 
  
}

td li{
list-style: none;
text-align: center;
}



/* contacto */

#contacto{

display: flex;
flex-direction: column ;
align-items: center;

}


#redes_sociales img{
    width: 30px;
    padding: 10px;
}

#redes_sociales li{
    display: inline;
    list-style: none;
}

   
.texto_contacto{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    
}

.texto_contacto>h1{
    text-align: center;
}
    
    
.texto_contacto img{
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.formu{
    padding: 20px;
    background-color: #11151C;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border-radius: 5%;
    margin: 50px 15px 15px 15px;
    color: #FFFDFA;
  

}

.formu > form{
    display: flex;
    flex-flow: column;
    background-color: #11151C;
    width: 90%;
    
   
}

.formu h2{
    color: #4bd5e6;
    text-align: center;
    
}

.formu h4,p{
text-align: center;



}

.formu div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.formu img{
    width: 100px;
    height: 100px;
}

input[type="text"], textarea {
    background-color: #4bd5e6; 
    width: 100%;
}
input[type=text]:focus,input[type=email]:focus,textarea:focus {
    background-color: #4bd5e6;
}



/* media query*/

@media (min-width: 768px){

    nav{
      
        flex-direction: row;
        
    }
  
nav ul{
    flex-direction: row;

}
    

#portada{
display: flex;
flex-direction: row;

}

#txt_portada{
    width: 10%;
}


#newsletter{

   width: 100%;
   height: 100%;
}


#videos{

    display: flex;
    flex-direction: column;
    max-width: 50%;
}

#videos > div {
    width: fit-content;
    flex-direction: row;
}

#contacto{
        flex-direction: row !important;
        align-items: normal;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
}
        
#formu{
    
        width: 100%;
    
}
    
input[type="text"], textarea {
        background-color : #d1d1d1; 
        width: 100%;
    
}

#media {
      flex-direction: row;
      align-items: center;
    }
  
    #media video {
      width: 50%;
    }
  #media p {
      width: 50%;
      text-align: center;
    }
  }


 
    