

:root{
    --banner: #D66853;
    --letras: #11151C;
   
}

*{
font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(171,217,12);
    background: linear-gradient(210deg, rgba(171,217,12,1) 0%, rgba(31,129,172,1) 47%, rgba(31,172,159,1) 63%);
    margin: 0;

}


header{
    margin:0;
    background-color: var(--banner);
    

}

nav{
    display: flex;
    align-content:space-around;
    align-items: center;
   
}

.rocket{
    width:100px;
    height: 100px;
    padding-top: 20px;
}

nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-right: 3%;


}

nav > ul > li {
font-size: 16px;
padding: 5px;
color: white;


}


nav > ul > li > a {
    text-decoration: none;
    color:white;
}

 main {

 
}

a:hover{
    background-color: white;
    color: #11151C;
    
    
}

#portada{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;

}

.texto_img{
    display: flex;
    flex-wrap: wrap;



}


#newsletter > form{
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border-radius: 5%;

}


footer{
    display:flex;
    padding: 5px;
    background-color: #D66853;
    font-size: 12px;
    padding: 20px; ;
    
    
}

footer > ul > li{
    display:inline-flex;
    text-align: right;

}


#apps{
    max-width: 20%;
    max-height: 20%
;}


    
/*Empieza biografia */

#fotobio{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../media/plane\ \(2\).jpg);
    width: 100vw;
    margin:0;
}

#fotobio > h1{
    font-size: 60px;
    text-align: center;
}

#destinos{
 
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.luna, .marte{

    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:25rem;
    min-width:18rem;
    margin: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
    border-radius: 5%;
    
}

.luna, .marte p{
font-size: small;
text-align: justify;
padding: 10px;

}

.planets
{   height: 100px;
    width: 100px;
    max-height:25rem;
    min-height:18rem;
    max-width:25rem;
    min-width:18rem;
    padding: 50px;

   

}


.aficiones, .musica{
    background-color: rgb(228, 220, 207);
    border-style: outset;
    border-color: rgb(240, 240, 247);
    height: 100%;
    width: 800px;  
    margin: 0 auto;
    text-align:center;
}

.aficiones audio{
    padding-bottom: 3%;
}
.musica blockquote{
    font-style: italic;
    font-size: 18px;
    padding-top: 40px;
    
}

.musica p{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding: 0px 150px;

}

/* contacto */

#contacto{

display: flex;
flex-direction: column ;


}

.texto_contacto{

    width: 50%;
}




.formu{
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border-radius: 5%;
    margin: 15px;


}

.formu > form{
    display: flex;
    flex-flow: column;
   
}

input[type="text"], textarea {
    background-color : #d1d1d1; 
    width: 100%;


}



@media (min-width: 800px){

    nav{
        justify-content: space-evenly;
    }
    
    nav ul{
       flex-direction: row;
    }
    
    #contacto{
        flex-direction: row !important;
        align-items: normal;
        justify-content: space-evenly;
        width: 100%;
    }
    
    #formu{
    
        width: 100%;
    }
    
    
    input[type="text"], textarea {
        background-color : #d1d1d1; 
        width: 100%;
    
    }
    
    
    
    }    
    